* {
    font-family: monospace;
    font-size: 1.2em;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* styling */
 html {
    width: 100%;
    height: 100%;
    background-color: #393e4d;
}

html, span, div {
    color: #cbcfd5;
}

.purple, a {
    color: #c69cbc;
}

.yellow {
    color: #f1d697;
}

.red {
    color: #d66f7b;
}

span.block-cursor {
    color: #cbcfd5;
    background-color: #cbcfd5;
}

h1, h2, h3 {
    font-size: 75%;
    padding-bottom: 10px;
    color: #66d9ef;
}

p {
    font-size: 55%;
}

span {
    color: #cbcfd5;
}
span.typed:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
}

span#command {
    display: inline-block;
}

.block {
  color: #999999;
}

span.block {
  font-size: 95%;
}
.body {
    font-size: 50%;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 50%;
}

ul#projects li{
  padding-bottom:15px;
}

#terminal {
    font-size: 70%;
    margin-left: 15px;
    margin-top: 15px;
}

#output {
    text-align: left;
    width: 100%;
    height: 94vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    word-wrap:break-word;
}

#output-content {
    margin: 10px;
    max-width:1000px;
}

#footer {
    position: absolute;
    bottom: 5px;
    font-size: 70%;
}
