* {
    font-family: monospace;
    font-size: 1em;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* styling */
 html {
    width: 100%;
    height: 100%;
    background-color: #393e4d;
}

html, span, div {
    color: #cbcfd5;
}

a {
    color: #F38630;
}

.purple {
    color: #c69cbc;
}

.yellow {
    color: #f1d697;
}

.red {
    color: #d66f7b;
}

span.block-cursor {
    color: #cbcfd5;
    background-color: #cbcfd5;
}

h1, h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

span {
    color: #cbcfd5;
}
span.typed:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
}

span#command {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#output {
    text-align: left;
    width: 100%;
    height: 92vh;
    overflow: overlay;
    word-wrap:break-word;
}

#output-content {
    overflow: scroll;   
}

#footer {
    position: absolute;
    bottom: 5px;
}